
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            height: 100vh;
            background: #f4f4f4;
        }

        /* MENU LATERAL */
        #listaNotas {
            width: 30%;
            background: #fff;
            border-right: 1px solid #ccc;
            overflow-y: auto; /*barra de rolagem se necessário*/
        }

        #listaNotas h2 {
            text-align: center;
            background: #333;
            color: #fff;
            padding: 10px;
            margin: 0;
        }

        .notaItem {
            padding: 12px;
            border-bottom: 1px solid #ddd;
            cursor: pointer;
        }

        .notaItem:hover {
            background: #e8e8e8;
        }

        /* ÁREA PRINCIPAL */
        #conteudo {
            width: 70%;
            padding: 20px;
        }

        textarea {
            width: 100%;
            height: 70vh;
            padding: 10px;
            font-size: 16px;
        }

        button {
            margin: 5px;
            padding: 10px 15px;
            cursor: pointer;
            border: none;
            background: #333;
            color: white;
            border-radius: 4px;
        }

        button:hover {
            background: #555;
        }

        #semNotas {
            text-align: center;
            color: #aaa;
            margin-top: 20px;
        }
