body{
    background-color: rgb(57, 48, 48);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: white;
}  

.calculator{
    background-color: white;
    width: 300px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px #00eaff;
    animation: neonPulse 1.5s infinite alternate;


}
.neon {
    box-shadow: 0 0 10px #00eaff;
    animation: neonPulse 1.5s infinite alternate;
}

@keyframes neonPulse {
    0% {
        box-shadow: 
            0 0 10px #00eaff,
            0 0 20px #00eaff;
    }

    100% {
        box-shadow:
            0 0 20px #fe760e,
            0 0 40px #504a37,
            0 0 80px #693b26;
    }
}

#display{
    width: 100%;
    box-sizing: border-box;
    height: 60px;
    border: none;
    border-radius: 6px;
    background-color: #f0f0f0;
    font-size: 24px;
    text-align: right;
    padding: 10px;
    margin-bottom: 16px;
}
.box-buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}
button{
    height: 60px;
    font-size: 20px;
    border: none;
    border-radius: 6px;
    
}
button:hover{
    background-color: #e1e1e1;
    cursor: pointer;
    transition: 0.4s;
}
.botaoZero{
    grid-column: 1/3;
}
.botaoResult{
     grid-row: 4/6;
     height: 100%;
     grid-column: 4;
}